spring:
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: update
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %magenta(%logger{36}): %msg%n"
  level:
    org.springframework: info
    org.hibernate: info
server:
  servlet:
    session:
      persistent: true

---
spring:
  config:
    activate:
      on-profile: oic
  redis:
    port: 6379
    host: redis
  session:
    store-type: redis
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://db:5432/kwsm
    username: postgres
    password: postgres

---
spring:
  config:
    activate:
      on-profile: ci
  redis:
    port: 6379
    host: redis
  session:
    store-type: none
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/postgres
    username: postgres
    password: postgres
